<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="brace_top_setup_brace">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-2.17475287682678E-05 -2.17475435434489E-05 -0.0124077050713316"
        rpy="0 0 0" />
      <mass
        value="0.386438799959442" />
      <inertia
        ixx="0.000471338529778752"
        ixy="1.6357672148491E-15"
        ixz="-9.03892468955313E-15"
        iyy="0.00047133852961369"
        iyz="-1.45977406923636E-14"
        izz="0.00092852751076337" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_top_setup_brace/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_top_setup_brace/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="1.13952477007184E-05 6.09143123309064E-06 -0.00775008007901956"
        rpy="0 0 0" />
      <mass
        value="0.144521976607445" />
      <inertia
        ixx="2.31497032446631E-05"
        ixy="3.32565207824177E-08"
        ixz="-2.70019071304386E-09"
        iyy="2.31765300111382E-05"
        iyz="-1.83348553501691E-08"
        izz="3.9908935373895E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_top_setup_brace/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_top_setup_brace/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1"
    type="fixed">
    <origin
      xyz="0 0 -0.025"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="7.83462867118556E-05 -0.00356831036784799 0.148191297795673"
        rpy="0 0 0" />
      <mass
        value="2.4153156910068" />
      <inertia
        ixx="0.0125707288895455"
        ixy="-6.91161430465127E-07"
        ixz="-6.20541593640197E-07"
        iyy="0.0145123380947547"
        iyz="0.00076550539160332"
        izz="0.00943068842931878" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_top_setup_brace/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_top_setup_brace/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2"
    type="fixed">
    <origin
      xyz="0 0 -0.385748000000014"
      rpy="0 0 0" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>