<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="brace_top_setup_brace">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-1.6463447155779E-05 1.6463450416726E-05 0.0131041887633114"
        rpy="0 0 0" />
      <mass
        value="0.510468252967356" />
      <inertia
        ixx="0.000327229519618305"
        ixy="-1.94086887549467E-15"
        ixz="9.03857430929228E-15"
        iyy="0.000325752366715179"
        iyz="-5.22136326423905E-14"
        izz="0.000636560846237454" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_top_setup_brace/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_top_setup_brace/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="1.13952900471226E-05 6.09147599450743E-06 -0.00775008002511457"
        rpy="0 0 0" />
      <mass
        value="0.144521976607445" />
      <inertia
        ixx="2.31497032446632E-05"
        ixy="3.32565207824189E-08"
        ixz="-2.70019071299361E-09"
        iyy="2.31765300111381E-05"
        iyz="-1.83348553502024E-08"
        izz="3.99089353738951E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_top_setup_brace/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_top_setup_brace/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1"
    type="fixed">
    <origin
      xyz="0 0 0.0256500000001189"
      rpy="-3.14159265358979 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="-0.00100278270185594 -0.00901790510279787 0.1436272584445"
        rpy="0 0 0" />
      <mass
        value="2.67816098290905" />
      <inertia
        ixx="0.0138092304033988"
        ixy="3.44846789110923E-05"
        ixz="2.40729105294887E-06"
        iyy="0.0157220659311851"
        iyz="0.000760474658445557"
        izz="0.00952926904083922" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_top_setup_brace/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_top_setup_brace/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2"
    type="fixed">
    <origin
      xyz="0 0 -0.377747999999882"
      rpy="0 0 0" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>